<div class='header'>
	<header><strong>NFL Cities</strong>
		<% @team_list.each do |team| %>
			<li>
				<%= team.first[1] %>
			</li>
		<% end %>

		<% %>
		<% %>

		</br>
	</header>
</div>

</br></br>

<div>
	<% @player_list.each do |player| %>
		<li>
			<%= player.first[1] %>
		</li>
	<% end %>
</div>
